.header{
    margin:auto;
    padding:15%;
    height:10px;
}
.header-content-inner {
    position: relative;
    max-height: 100%;
    max-width: 75%;
    margin:auto;
    text-align:center;
}
#background{
    background-image: url("luchador-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height:100%;
    max-width:100%;
    margin:auto;
}
#description{
    margin:auto;
    padding:5%;
    background: linear-gradient(to bottom right, #E82C0C, #FF8A4B);
}
.container{
    /*float:top right;*/
    margin:auto;
    text-align:center;
    border:20px;
    padding:50px
}
.col-lg-8 col-lg-offset-2 text-center{
    text-align: center;
    padding:50px;
}
img{
    width:20%;
    max-width:70%;
    border-radius:50%;
    /*border:5px solid lightblue;*/
    border:20px;
    margin-bottom:20px;
    transition:transform 2s;
    animation-iteration-count: 3
}
#mask_1{
    float:right;
    transition:transform 2s;
    /*background:rgb(125,149,153);*/
    position: relative;
}
/*@keyframes threed{*/
/*    transform: rotateY(180deg);*/
/*}*/
#mask_1:hover{
    transform: rotateY(360deg);
}
#mask_2{
    float:left;
    transition: transform 2s;
}
#mask_2:hover{
    transform: rotateY(360deg);
}
p{
    color:lightgray;
    text-shadow: 2px 2px 4px #000000;
    position:relative;
    font-family:sans-serif ;
    animation:mymove 2s;
}
@keyframes mymove{
    0%{opacity:0;left:-400px;}
    100%{opacity:1;left:0px;}
    /*position:absolute*/
}

h1{
    font-family: monospace;
    color:white;
    animation-name:example;
    animation-duration:2s;
    /*animation-timing-function:ease;*/
    border-left: 6px solid red;
    background-color: lightgrey;
}
@keyframes example{
    0% {opacity: 0;}
    100% {opacity:1;}
}
h2{
    color:lightgray;
    text-shadow: 2px 2px 4px #000000;
    animation-name:example;
    position: relative;
    animation-duration: 2s;
}
@keyframes example{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.info{
    color:lightgray;
}
.dark{
    border-color:#E82C0C;
    border-width:2px;
    max-width: 50px;
}
.light{
    /*position: relative;*/
    /*margin:auto;*/
    border-color:white;
    border-width:2px;
    width:30%;
    transition:width 2s;
    transition-timing-function: ease-in-out;
    /*margin-left: 5px*/
}
.light:hover{
    width:60%;
}
#description{
    max-width: 100%;
    height:400px;
}